# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.URPDemo.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\URPDemo\.idea\.idea.URPDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
